.about-container {
  margin-top: 8%;
}

.about-info {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 47, 11, 0.7)),
    url('/woman-influencer.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-info h2 {
  text-align: center;
  font-weight: 600;
  font-size: max(5vw, 50px);
}

.about-content {
  margin-top: 50px;
}

.about-text {
  padding: 20px 0;
  max-width: 90%;
}

.about-text h3 {
  padding-bottom: 10px;
  font-weight: 600;
}

.about-text p {
  padding-bottom: 20px;
  font-weight: 400;
  color: rgb(72, 72, 72);
  text-align: justify;
}

/* media query */

@media (max-width: 1100px) {
  .about-container {
    margin-top: 15%;
  }

  .about-info {
    margin-top: 55px;
  }
}

@media (max-width: 650px) {
  .about-info {
    margin-top: 30%;
    min-height: 40vh;
  }

  .about-info h2 {
    font-size: max(3vw, 30px);
  }
}
