.app-download {
  font-size: max(2.5vw, 20px);
  font-weight: 600;
  width: 60%;
  padding-left: 40px;
}

.app-download-platforms {
  display: flex;
  justify-content: flex-start;
  gap: max(2vw, 10px);
  margin-top: 40px;
}

.app-download span {
  color: green;
}

.app-download-platforms img {
  width: max(30vw, 20px);
  max-width: 180px;
  transition: 0.5s;
  cursor: pointer;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}

.app-container {
  margin: auto auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  width: 100%;
  background-color: rgb(229, 229, 229);
  border-radius: 20px;
}

.phone-pix {
  width: 80%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.phone-pix img {
  margin: 30px;
  width: 90%;
  border-radius: 30px;
}
