.cart {
  margin-top: 150px;
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.cart-items-item img {
  width: 50px;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart-items-item .cross {
  cursor: pointer;
}

.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-total he {
  margin: 10px 0px;
}

.cart-total button {
  border: none;
  color: white;
  background-color: green;
  outline: none;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-promo-code {
  flex: 1;
}

.cart-promo-code p {
  color: #555;
}

.cart-promo-code-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart-promo-code-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.cart-promo-code-input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.cart-image {
  height: 24vw;
  width: 100%;
  background: url('./chef-posing.jpg') no-repeat;
  margin: 30px auto 60px auto;
  border-radius: 10px;
  background-size: cover;
  position: relative;
  background-position: center;
}

.cart-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  max-width: 90%;
  bottom: 10%;
  top: 1vw;
  animation: fadeIn 3s;
  text-align: center;
  justify-content: flex-start;
  left: 20px;
}

.cart-text h3 {
  color: green;
}

.cart-text p {
  font-size: 14px;
}

/* MEDIA QUERY */

@media (max-width: 1200px) {
  .cart-text p {
    display: none;
  }

  .cart-text h3 {
    font-size: 22px;
    top: 1vh;
  }
}

@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }

  .cart-promo-code {
    justify-content: start;
  }

  .cart-image {
    display: none;
  }
}
